<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Success Sign Up!!</title>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="http://localhost:9000/assets/stylesheets/bootstrap.css">
    <link rel="stylesheet" href="http://localhost:9000/assets/stylesheets/complete/sticky-footer.css">
  </head>

  <body>

    <!-- Begin page content -->
    <main role="main" class="flex-shrink-0">
      <div class="container">
        <h1 class="mt-5">Created Your Account!!</h1>
        <p class="lead">Let's enjoy Chatmen!</p>
        <!-- <p>Use <a href="{{ site.baseurl }}/docs/{{ site.docs_version }}/examples/sticky-footer-navbar/">the sticky footer with a fixed navbar</a> if need be, too.</p> -->
        <a><a href="http://localhost:9000/signin">Sign In </a>Your Account.</p>
      </div>
    </main>
    
    <footer class="footer mt-auto py-3">
      <div class="container">
        <span class="text-muted"> &copy;2019 cahtmen by marmbo</span>
      </div>

      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
      <!-- Include all compiled plugins (below), or include individual files as needed -->
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  </body>
</html>
