@(hoge: Form[UserAuth])(implicit request:RequestHeader, messages: Messages)
@import helper._
<!DOCTYPE html>

<html lang="ja">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
        <title>Welcome to Chatmen</title>

        <!-- Bootstrap -->
        <link rel="stylesheet" href="http://localhost:9000/assets/stylesheets/bootstrap.css">
        <link rel="stylesheet" href="http://localhost:9000/assets/stylesheets/form/signin.css">
    </head>
    @form(routes.UserController.checkUserByForm()) {
        @CSRF.formField
        @inputText(hoge("email"))
        @inputText(hoge("password"))
        <button >send</button>
        }

        <body>
            <form class="form-signin" method="POST" action="/signin">
                <img class="mb-4" src="{{ site.baseurl }}/docs/{{ site.docs_version }}/assets/brand/bootstrap-solid.svg" alt="" width="72" height="72">
                <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
                <label for="name" class="sr-only" name="name">Name</label>
                <input type="name" id="name" class="form-control" placeholder="name" name="name" required>
                <label for="inputEmail" class="sr-only" name="email">Email address</label>
                <input type="email" id="inputEmail" class="form-control" placeholder="Email address" name ="email" required autofocus>
                <label for="inputPassword" class="sr-only" name ="password">Password</label>
                <input type="password" id="inputPassword" class="form-control" placeholder="Password" name="password" required>
                <div class="checkbox mb-3">

                </div>
                <button class="btn btn-lg btn-primary btn-block" type="submit" >Sign in</button>
                <a href="http://localhost:9000/main-menu" class="btn btn-lg btn-primary btn-block" type="submit">Sign in</a>
                <a href="http://localhost:9000/signup" >Create your Account?</a>
                <p class="mt-5 mb-3 text-muted">&copy; 2019 chatmen by marbo</p>
            </form>


            <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
            <!-- Include all compiled plugins (below), or include individual files as needed -->
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
        </body>
</html>

